body {
  margin-left: 24px;
  font-family: 'Roboto', 'Raleway', 'Poppins', 'Montserrat', sans-serif;
}

.timer {
  display: flex;
  width: 220px;
  margin-top: 24px;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 24px;
  align-self: center;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  align-self: center;
}

input {
  margin-top: 24px;
  font-family: 'Roboto', 'Montserrat', 'Raleway', 'Poppins', sans-serif;
}
