body {
  margin-left: 24px;
  font-family: 'Montserrat', 'Roboto', 'Raleway', 'Poppins', sans-serif;
  color: #2e2f42;
  letter-spacing: 0.64px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.timer {
  display: flex;
  width: 220px;
  justify-content: space-between;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 1.6px;
}

.label {
  font-size: 16px;
  text-transform: uppercase;
  align-self: center;
}

input {
  font-family: 'Montserrat', 'Roboto', 'Raleway', 'Poppins', sans-serif;
  height: 40px;
  width: 272px;
  margin-bottom: 32px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 0 8px;
}
button {
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding: 8px 16px;
  background: #4e75ff;
  border: none;
  margin-left: 8px;
  height: 40px;
}

button:disabled {
  background: #cfcfcf;
  color: #989898;
  border: none;
}
button:hover {
  background: #6c8cff;
  border: none;
  color: #fff;
}
section {
  margin-bottom: 16px;
}
